.brand-about {
    margin: auto auto 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .brand-image img {
        width: 122px;
        height: 124px;
        object-fit: contain;
        margin-bottom: 2.4rem;
    }

    .brand-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 150%;
        color: #040941;
        margin-bottom: 1rem;
    }
}

.about {

    .brand-products,
    .about-brand {
        font-style: normal;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 100%;
        color: rgba(27, 28, 31, 0.25);
        text-align: center;
        width: 30%;
        display: inline-grid;
        border-top: 0.05rem solid rgba(184, 190, 206, 0.25);
        border-bottom: 0.05rem solid rgba(184, 190, 206, 0.25);
        padding: 1rem 0;
        text-decoration: none;
    }

}

.fools {
    font-style: normal;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 30px;
    color: #989eaf;
}

.about-brnd {
    padding: 3.6rem 10rem !important;
}

.tab-active {
    color: #1b1c1f;
}