.category-cards {
    overflow-y: hidden;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px 16px;
    overflow-y: hidden;
    padding-bottom: 5rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .category-card-item {
        position: relative;

        .category-card-btn {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            color: #fff;
            height: 2.4rem;
            background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%);
            background-blend-mode: overlay, normal;
            backdrop-filter: blur(80px);
            border-radius: 3px;
            padding: 0 2.4rem;
            border: 0.2rem solid transparent;
            min-width: 10.3rem;
            transition: all 0.3s ease;
            text-decoration: none;
            bottom: 2rem;
            left: 1.1rem;
            z-index: 20;
            position: absolute;
        }

        .overlay {
            position: absolute;
            top: 0;
            z-index: 20;
            background: linear-gradient(0deg, rgb(27, 28, 31) 0%, rgba(27, 28, 31, 0) 100%), linear-gradient(90deg, rgb(28, 27, 31) 0%, rgba(27, 28, 31, 0) 98.75%);
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

        img {
            width: 100%;
        }

        .category-container {
            padding: 2.3rem 1.5rem;
            position: absolute;
            top: 0;
            z-index: 25;

            
        }
    }
}


.category-cards .category-card-item .category-container .category-list {
    .title {
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 100%;
        color: #fff;
        margin-bottom: 2rem;
        cursor: pointer;
    }

    .cat-list {
        list-style: none;
        opacity: .75;

        .cat-list-item {
            a {
                text-decoration: none;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 100%;
                color: #fdfdfd;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .category-cards {
        grid-template-columns: unset;
        grid-auto-flow: column;

        .category-card-item {
            width: 300px !important;
        }
    }

}

@media only screen and (max-width: 1200px) {

    .category-cards {
        grid-template-columns: repeat(3, 1fr);
    }

}