.top-navbar {
    padding: 30px 0px;
}

.search-container {
    grid-column: 3/7;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-group {
        position: relative;
        width: 100%;

        .search-input {
            // color: #fff;
            border: none;
            outline: none;
            border-radius: 4px;
            height: 2.5rem;
            padding-left: 1.6rem;
            padding-right: 4rem;
            transition: all .3s;
            font-style: normal;
            font-weight: 2500;
            font-size: 0.9rem;
            line-height: 100%;
            color: #444;
            background: #fff;
            border: 0.5px solid rgba(184, 190, 206, .5);
            width: 100%;

            &:focus+.search-btn {
                background-color: #444;
                transition: all .3s;
            }

            &:focus+.search-icon {
                color: #fff;
            }

            &:focus {
                border: 1px solid #444;
            }
        }

        .mobile-navbar .form-group .search-input {
            color: #fff !important;
        }

        .search-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            height: 100%;
            width: 4.8rem;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            transition: all .5s;
            display: flex;
            align-items: center;
            justify-content: center;

            .search-icon {
                color: rgb(211, 211, 211);
            }
        }
    }
}

.nav-icon {
    color: #575f74;
    font-size: 23px;
}

.plane-icon {
    font-size: 30px;
    padding-right: 7px;
}

.social-icon {
    width: 32px;
    height: 32px;
}

.mail-icon,
.instagram-icon,
.youtube-icon {
    color: #ea4335;
}

.facebook-icon {
    color: #1977f2;
}



//mobile-navbar

.mobile-navbar {
    background: #1b1c1f;

    .mobile-container {
        padding: 24px 16px;
        height: auto;
        overflow: hidden;
    }

    .mobile-menu-content {
        margin-top: 24px;

        .contact-mobile-menu {
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            .pages {
                align-items: flex-start;
                flex-direction: column;
                margin-top: 36px;

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    color: #fff;
                    opacity: .5;
                    margin-top: 36px;
                    text-decoration: none;
                }
            }

            .mobile-lang {
                align-items: center;
                flex-direction: row;
                width: 100%;
                margin-top: 36px;

                a {
                    display: flex;
                    align-items: center;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    padding: 8px 10px;
                    color: #fff !important;
                    text-transform: uppercase;
                    margin-right: 24px;
                    margin-bottom: 8px;
                    text-decoration: none;
                }
            }
        }
    }

    .form-group {

        width: 100%;
        position: relative;

        .search-input {
            color: white;
            width: 100%;
            height: 40px;
            background: hsla(0, 0%, 40%, .25);
            border: 1px solid hsla(0, 0%, 40%, .25);
            outline: none;
            border-radius: 4px;
            padding-left: 1.6rem;
            padding-right: 4rem;
            transition: all .3s;
            font-style: normal;
            font-weight: 380;
            font-size: 0.9rem;
            line-height: 100%;
        }

        .search-btn {
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            height: 100%;
            width: 4.8rem;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            transition: all .5s;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .mobile-menu-tracking {
        margin: 24px 0 36px;
        display: flex;
        align-items: center;

        a {
            width: 100%;
            background: #333;
            font-style: normal;
            font-weight: 34r0;
            font-size: 16px;
            line-height: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 3px;
            color: #fff;
            text-decoration: none;
        }
    }

    .categories {
        margin-bottom: 56px;
        padding-left: 1rem;

    }

    li {
        list-style: none;

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            color: #fff !important;
            display: flex;
            align-items: center;
            padding: 15px 0 17px;
            border-bottom: 1px solid rgba(208, 212, 222, .25);
        }
    }
}

.close {
    position: absolute;
    right: 12px;
    top: 19px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

    &:hover {

        opacity: 1;
    }

    &::after,
    &::before {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: rgb(211, 211, 211);
    }

    &::after {
        transform: rotate(-45deg);

    }

    &::before {
        transform: rotate(45deg);

    }
}

//mobile-navbar-end

.hamburger-menu {
    cursor: pointer;
    display: none;

    div {
        color: #575f74;
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 5px 0;
    }
}

@media only screen and (max-width: 768px) {

    .top-navbar .row {
        justify-content: space-between;

        .search-container {
            display: none !important;
        }
    }

    .hamburger-menu {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    #root .container {
        width: 95% !important;
    }
}